<div *ngIf="rocket$ | async as rocket">
  <mat-card class="rocket-card">
    <mat-card-header>
      <mat-card-title>{{rocket.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="rocketPhotoUrl$ | async as photoUrl" [src]="photoUrl" [alt]="rocket.name">
    <mat-card-actions>
      <button mat-button (click)="openRocketDialog(rocket)">
        Edit
      </button>
      <button mat-button (click)="removePhoto()" *ngIf="rocket.photos && rocket.photos.length > 0">
        Remove Photo
      </button>
      <button mat-icon-button [matMenuTriggerFor]="rocketMore" class="float-right">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-menu #rocketMore="matMenu">
    <button mat-menu-item (click)="confirmDelete()">Delete Rocket</button>
  </mat-menu>

  <h2>Flights</h2>
  <mat-list>
    <ng-container *ngFor="let flight of flights$ | async; last as isLast">
      <mat-list-item>
        <h3 matLine>{{flightDate(flight) | date}}</h3>
        <span matLine>{{(flight.motors || []).join(', ')}}</span>
        <span matLine>{{flight.altitude | number}}</span>
        <button mat-icon-button [matMenuTriggerFor]="flightActions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #flightActions="matMenu">
          <button mat-menu-item (click)="openFlightDialog(flight)">Edit</button>
          <button mat-menu-item (click)="removeFlight(flight)">Delete</button>
        </mat-menu>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-list>
</div>
<button type="button" mat-fab color="primary" class="fab-button"
        (click)="newFlightDialog()">
  <mat-icon>add</mat-icon>
</button>
