.fab-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rocket-card {
  max-width: 350px;
  margin: 0 auto 24px auto;
}
