<div *ngIf="rocket$ | async as rocket">
  <h1>{{rocket.name}} Flights</h1>
  <mat-list>
    <mat-list-item *ngFor="let flight of flights$ | async">
      <img matListAvatar src="https://placekitten.com/50/50" alt="placekitten.com">
      <h3 matLine>{{flightDate(flight) | date}}</h3>
      <span matLine>{{flight.motors?.length ? flight.motors.join(', ') : flight.motor}}</span>
      <span matLine>{{flight.altitude | number}}</span>
      <button mat-icon-button (click)="removeFlight(flight)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<a mat-fab color="primary" class="fab-button"
        [routerLink]="['flights/new']">
  <mat-icon>add</mat-icon>
</a>
