<div *ngIf="rocket$ | async as rocket">
  <h1>{{rocket.name}} Flights</h1>
  <mat-action-list>
    <ng-container *ngFor="let flight of flights$ | async; last as isLast">
      <button mat-list-item (click)="openFlightDialog(flight)">
        <img matListAvatar src="https://placekitten.com/50/50" alt="placekitten.com">
        <h3 matLine>{{flightDate(flight) | date}}</h3>
        <span matLine>{{(flight.motors || []).join(', ')}}</span>
        <span matLine>{{flight.altitude | number}}</span>
      </button>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-action-list>
</div>
<button type="button" mat-fab color="primary" class="fab-button"
        (click)="newFlightDialog()">
  <mat-icon>add</mat-icon>
</button>
