.fab-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rocket-card {
  max-width: 350px;
  margin: 0 auto 24px auto;
}

.float-right {
  float: right;
}

.photo-container {
  max-height: 0;

  &.photo--showing {
    max-height: 1000px;
    transition: max-height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

.mat-card-image {
  .mat-card-image {
    margin: 0;
    width: 100%;
  }
}

.blank-state {
  display: flex;
  justify-content: center;
}
