<form [formGroup]="flightForm" class="flight-form" (ngSubmit)="createFlight()">
  <legend><h1>New {{(rocket$ | async)?.name}} Flight</h1></legend>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="1/1/2020" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Altitude</mat-label>
    <input type="tel" matInput placeholder="3000" formControlName="altitude">
  </mat-form-field>
  <div formArrayName="motors">
    <div *ngFor="let motor of motors.controls; index as idx">
      <mat-form-field>
        <mat-label>Motor {{idx + 1}}</mat-label>
        <input type="text" matInput [formControlName]="idx">
        <button type="button" mat-icon-button matSuffix (click)="removeMotor(idx)"
                *ngIf="motors.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <button type="button" mat-button (click)="addMotor()">
    <mat-icon>add</mat-icon> Add Another Motor
  </button>
  <mat-form-field>
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">
    Save
  </button>
</form>
