.grid--photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  .grid--photo {
    justify-self: center;
  }
}

@media screen and (max-width: 929px) {
  .grid--photos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 627px) {
  .grid--photos {
    grid-template-columns: 1fr;
  }
}

