<mat-card class="card--homepage">
  <mat-card-header>
    <mat-card-title>Fly My Rockets</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/homepage-image.jpg" alt="Flying rocket">
  <mat-card-content>
    <span class="mat-caption">Image © Peter Thoeny</span>
    <p>
      Track the rockets in your fleet and flights they've made.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/rockets">Track My Rockets</a>
  </mat-card-actions>
</mat-card>
